<!DOCTYPE HTML>

<html>
	<head>
		<title>Facturier</title>
		<meta charset="utf-8" />
        <link rel="icon" href="static/images/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--		<link rel="stylesheet" href="static/css/main.css" />-->
	</head>
	<body class="is-loading">
			<div id="wrapper">
                <section id="main">
                    <header>
                        <img src="static/images/logoa.png" alt="" width="85%"/>
                        <h1>Facturier</h1>
                    </header>
                    <hr />
                    <form name = 'form' method="post" action="traitement.php">
						<fieldset>
							<legend>Requis</legend>
							<div>
								<label for="compte">Num. Compte:</label>
								<input type="text" id="compte" name="compte" placeholder="" autofocus required>
							</div>
							<div>
								<label for="products">Nombre de Produits :</label>
								<input type="number" id="products" name="products" min="1" max="12" step="1" value="1" required>
							</div>
						</fieldset>
						<fieldset>
							<legend>Optionnel</legend> <!-- Titre du fieldset -->

							<label for="name">Nom et Prenom</label> :  <input type="text" name="name" id="name" value="Ndayisenga Jules Cesar Junior"/>
							<!--	size: agrandir // maxlength: limiter l nombre de caracteres a saisir // value: remplir le champ avec une valeur par defaut   -->
							<br /> <br />
							<label for="post">Poste</label> :  <input type="text" name="post" id="post" value="Directeur General"/>
							<!--	size: agrandir // maxlength: limiter l nombre de caracteres a saisir // value: remplir le champ avec une valeur par defaut   -->
							<br /> <br />
							<label for="phone1">Numero de Telephone 1:</label> <input type="tel" id="phone1" name="phone1" value="77568903">
							<br>
							<label for="phone2">Numero de Telephone 2:</label> <input type="tel" id="phone2" name="phone2" value="68334260">
							<br> <br>
							<label for="mail">Email</label> :  <input type="email" name="mail" id="mail" value = "Address@example.com" required />
							<br /> <br />
							<label for="company">Compagnie</label> :  <input type="text" name="company" id="company" value="BRB"/>
							<!--	size: agrandir // maxlength: limiter l nombre de caracteres a saisir // value: remplir le champ avec une valeur par defaut   -->
							<br /> <br />
							<label for="nature">Type de Compagnie</label> :  <input type="text" name="nature" id="nature" value="Banque"/>
							<!--	size: agrandir // maxlength: limiter l nombre de caracteres a saisir // value: remplir le champ avec une valeur par defaut   -->
							<br /> <br />
							<label for="adress">Adresse</label> :  <input type="text" name="adress" id="adress" value="Rohero I,Av. de l'Amitie,Building Isanganiro"/>
							<!--	size: agrandir // maxlength: limiter l nombre de caracteres a saisir // value: remplir le champ avec une valeur par defaut   -->
							<br /> <br />
						</fieldset>
						<fieldset>
							<legend>Produits </legend>
							<div class="field">
								<div class="select-wrapper">
									{% for a in range(2) %}
										<small>{{a+1}}.</small>
										<select name="designation{{a}}" id="designation{{a}}">
											{% for obj in objects %}
												<option value="{{obj}}">{{obj}}</option>
											{% endfor %}
											<input type="number" name="{{obj}}" id="{{obj}}" min="1" max="100" step="1" value="1" required/>
											<br />
										</select>
									{% endfor %}
								</div>
							</div>
						</fieldset>
						<input type="submit" value="Envoyer" />
						<br /> <br />
					</form>
					<hr />
                </section>

            <!-- Footer -->
                <footer id="footer">
                    <ul class="copyright">
                        <li>&copy; samandari</li>
                    </ul>
                </footer>
			</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>